Body{
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', serif;
        font-size: 1em;
}
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    width: 100%;
    height: fit-content;
    justify-content: space-around;
    background-color: rgba(82, 82, 82, 0.765);
    font-size: 1.5em;
    position: sticky;
    top: 0;
}

.navlist ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}


header a:hover{
    transition-duration:1s;
    border-style: solid;
    border-width: 0px;
    border-radius: 0.5em;
    background-color: rgb(65, 65, 65);
    padding: 10px;
}
li{
    margin-top: 15px;
}
.columns{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    background-color: rgb(148, 193, 195);
}

.foto{
    display: flex;
    grid-column: 2/7;
    justify-content: center;
    
}

.foto img{
    height: auto;
    max-width: 100%;
    box-shadow: 10px 10px 15px 5px #00000075;
}



.basicInfo{
    grid-column: 7/12;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    text-align: center;
    list-style: none;
}

.drop{
    display: flex;
    width: 100%;
    height: fit-content;
}

.navlist{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.drop a{
    color: azure;
    text-decoration: none;
    padding-inline: 10px;
    height: 1.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}


.button{
    display: none;
}



@media(max-width:1000px){
    .foto{
    display: flex;
    grid-column: span 6;
    align-items: center;
}
.basicInfo{
    grid-column: span 6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
}
@media(max-width:750px){

header{
    justify-content: flex-start;
}
.drop{
    width: fit-content;
}
.button{
    display: block;
}

.navlist{
    display: none;
}

.drop:hover .navlist{
    display: flex;
    flex-direction: column;
    width: fit-content;
    background-color: rgba(82, 82, 82, 0.765);
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
}
 .drop:hover .navlist ul{
    display: flex;
    flex-direction: column;
    width: fit-content;
 }


    .foto{
    grid-column: span 13;
}
.basicInfo{
    grid-column: span 13;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
}

@media (max-height: 500px){
    header{
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
    }
}

.filler{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-inline: 2em  ;
    margin-top: 1em;
    font-size: 1.5em;
}

#footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: rgb(42, 42, 42);
}
#footer a{
    text-decoration: none;
    color: rgb(122, 122, 122);
    font-size: 1.5em;
    margin-inline:1em;
    margin-block: 2em;
}

#footer a:hover{
    text-decoration: none;
    color:lightblue;
    font-size: 1.5em;
    margin-inline:1em;
    margin-block: 2em;
}

.feedback{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.feedbackForm{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.input{
    width: 30em;
    height: 5em;
    max-width: 30em;
    max-height: 10em;    
    align-self: center;
}

.feedbackButtons{
    width: 5em;
    border-radius: 10px;
    border-color: transparent;
    background-color: rgba(0, 0, 0, 0.452);
    align-self: center;
    margin: 5px;
}

.feedbackButtons:hover{
        background-color: rgba(0, 0, 0, 0.263);

}
